body{
font-family:Arial;
background:#020228;
color:white;
margin:0;
padding:40px;
}

/* login */

.login-box{
background:#111;
width:320px;
margin:auto;
padding:40px;
border-radius:8px;
}

.login-box h2{
text-align:center;
color:#00c3ff;
}

.login-box input{
width:100%;
padding:10px;
margin-top:10px;
background:#222;
border:none;
color:white;
}

.login-box button{
width:100%;
padding:10px;
margin-top:15px;
background:#00c3ff;
border:none;
cursor:pointer;
}

.error{
color:red;
text-align:center;
}

/* admin table */

.admin-container{
max-width:1000px;
margin:auto;
}

h2{
text-align:center;
color:#00c3ff;
}

table{
width:100%;
border-collapse:collapse;
background:#111;
margin-top:30px;
}

th,td{
padding:12px;
border:1px solid #333;
}

th{
background:#00c3ff;
color:black;
}

tr:hover{
background:#1b1b1b;
}

.delete{
color:red;
text-decoration:none;
}

.logout{
float:right;
color:white;
text-decoration:none;
}